{% extends "base.html" %}
{% load custom_filters %}

{% block titlebar %}Group {{ group.name }}{% endblock %}
{% block title %}Group {{ group.name }}{% endblock %}

{% block content %}
    <p>
    <a href="/org/{{ group.org.name }}/{{ group.name }}/delete/">Delete all users in this group</a><br/>
    {% if users %}
	<a href="/org/{{ group.org.name }}/{{ group.name }}/createtopo/">Create a topology for all users in this group</a><br/>
	<a href="/org/{{group.org.name }}/{{ group.name }}/deletetopo/">Delete topologies owned by all users in this group</a><br/>
	</p>
    <table>
        <tr>
            <th>Position</th>
            <th>Username</th>
            <th>Name</th>
            {% if user.is_authenticated %}
            <th>E-mail</th>
            <th>Actions</th>
            {% endif %}
        </tr>
    {% endif %}
    {% for u in users %}
        <tr>
            <td>{{ u.get_position_str }}</td>
            <td><a href="/user/{{ u.user.username }}/">{{ u.user.username }}</a></td>
            <td>{{ u.user.get_full_name }}</td>
            {% if user.is_authenticated %}
            <td>{{ u.user.email }}</td>
			<td>
            {% if u in deletable_users %}
            <a href="/user/{{ u.user.username }}/delete/">Delete</a>
            {% endif %}
			</td>
            {% endif %}
        </tr>
    {% empty %}
    <p>There are no users in this group.</p>
    {% endfor %}
    {% if users %}
    </table>
    {% endif %}
{% endblock %}

