{% extends "base.html" %}
{% load custom_filters %}

{% block titlebar %}User Profile: {{ up.user.username }}{% endblock %}
{% block title %}{{ up.user.username }}{% endblock %}

{% block content %}
    {% if up.user.retired %}
        <h2>{{ up.user.username }} has been retired</h2>
    {% endif %}
    <table class="vert">
        <tr>
            <th>Name</th>
            <td>{{ up.user.get_full_name }}</td>
        </tr><tr>
            <th>Organization</th>
            <td>{{ up.org|orglink }}</td>
        </tr><tr>
            <th>Position</th>
            <td>{{ up.get_position_str }}</td>
        {% if user.is_authenticated %}
        </tr><tr>
            <th>E-mail Address</th>
            <td>{{ up.user.email }}</td>
        {% if user == up.user or user.get_profile.is_staff or user.is_superuser %}
        </tr><tr>
            <th>Simulation Auth Key</th>
            <td>{{ up.get_sim_auth_key }}</td>
        {% endif %}
        {% endif %}
        </tr><tr>
            <th>Topologies Owned</th>
            <td>
                {% for t in topos_owned %}
                    {{ t|topolink }} ({{ t.template.name }})<br/>
                {% empty %}
                    None visible to you
                {% endfor %}
            </td>
        </tr><tr>
            <th>Topologies Assigned To</th>
            <td>
                {% for t in topos_assigned %}
                    {{ t|topolink }} ({{ t.template.name }})<br/>
                {% empty %}
                    None visible to you
                {% endfor %}
            </td>
        </tr>
    </table>

    {% if user.is_authenticated %}
        {% if user == up.user %}
            <p><a href="/user/{{ up.user.username }}/change_password/">Change your password</a></p>
            <p><a href="/user/{{ up.user.username }}/renew_auth_key/">Renew your auth key</a></p>
        {% else %}
            {% if can_change %}
                <p><b>Staff Actions:</b></p>
		<p><a href="/user/{{ up.user.username }}/change_password/">Change {{ up.user.get_full_name }}'s password</a></p>
		<p><a href="/user/{{ up.user.username }}/renew_auth_key/">Renew {{ up.user.get_full_name }}'s auth key</a></p>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
